*{
  margin: 0;
  padding: 0;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  outline: none;
}

.container {
  width: 100%;
  height: 100vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.all-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  width: 50%;
  text-align: center;
}
.button {
  width: 32%;
  height: 50px;
  border: none;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 2px;
  cursor: pointer;
}
.button:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.button:active {
  background: #E91E63;
}

.result {
  width: 100%;
  height: 60px;
  background: rgb(209, 209, 209);
  margin: 0 0 20px 0;
  text-align: center;
  border: none;
  color: #000;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.result::-webkit-input-placeholder{
  color: #000;
}

.operation {
  margin: 20px 0 0 0;
}
h1{
  margin: 0 0 10px 0;
  text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
